@font-face {
    font-family: 'Couture';
    src: url("../fonts/Couture/couture-bld.otf") format('opentype');
}

* {
	padding: 0;
	margin: 0;
}

.top_nav ul {
    z-index: 100; /* Ensures nav is overlayed on all elements */
    position: absolute;
	margin: 0;
    float: left;
    background-color: #2E2E2E;
    width: 100vw; height: 50px;
    list-style-type: none;
}

.top_nav ul li a {
    display: block;
    color: white;
    float:left;
    text-decoration: none;
    text-align: center;
    font-family: 'Couture', sans-serif;
    padding-top: 15px;
    font-size: 16px;
    margin-right: 40px;
    padding-right: 2vw; padding-left: 2vw; padding-bottom: 16px;
}

.top_nav ul li a:hover {
    opacity: 50%;
}