body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bg {
  /* The image used */
  background-image: url("backgroundA.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    opacity: 0.75;
}

.content {

    position: relative;
    opacity: .9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {

    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;

}

.title span.border {

  color: #fff;
  padding: 18px;
  font-size: 50px;
  font-weight: semi-bold;
  letter-spacing: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.header {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}