/*Standardized*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body, html {
  max-height:max-content;
  height: 100vh;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: rgb(0, 0, 0);

  font-weight: 600;
  font-size: 16px;
}



/*Top part of page*/

.bg {
  /* The image used */
  background-image: url("backgroundA.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    opacity: 0. 55;
}

.content {

    position: relative;
    opacity: .8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {

    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;

}

.title span.border {

  color: #fff;
  padding: 18px;
  font-size: 50px;
  font-weight: semi-bold;
  letter-spacing: 10px;
  background-color: #333;
  

}

/*Navigation*/

.header{
  display: flex;
  justify-content: space-between;
  
  padding: 30px 70px;
}

a{
  text-decoration: none;
 
}



.nav-area {
  list-style: none;
  
}

.nav-area li{
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  
}

.nav-area li a{
  transition: .3;
  color: rgb(255, 255, 255);
  
}

.btn-area{
  color: rgb(255, 255, 255);
  margin-right: 10px;
  font-size: 24px;
}


/* Bottom section of page*/

.fb {
  padding-top: 6in;
  text-align: center;
  line-height: 95px;
  padding-bottom:6.5in;
  
}

.fb span.TitleA{
  padding-top: 1in;
  font-size: 90px;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}

.fb span.TitleB{
  padding-top: 1in;
  font-size: 50px;
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
}