@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: lightgrey;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.header {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.descA, p.thick{
    background-color: white;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}


.Gallery {
    flex-wrap: wrap;
    display: flex;    
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

img {
    max-height:500px;
    max-width:500px;
    border-radius: 20px;
}

.img_box {
    padding: 20;
}